extends layout 

block content
    h1= title
    -let items=results;
    - let destination4 = `dispatch(\"animal/create\")` 
    button.btn( class="btn-secondary ml-1", onclick= destination4) Create
    div(class="container-fluid") 
    div(class="row m-1") 
      each item in items
        - let destination1 = `dispatch(\"animal/update/?id=${item._id}\")`
        - let destination2 = `dispatch(\"animal/detail/?id=${item._id}\")`
        - let destination3 = `dispatch(\"animal/delete/?id=${item._id}\")` 
        div(class="row-sm-2", class="m-1") Item #{item.animal_name}(#{item.animal_breed}) is #{item.animal_weight} 
          button.btn( class="btn-primary ml-1", onclick= destination1) Update
          button.btn( class="btn-success ml-1", onclick= destination2) Detail
          button.btn( class="btn-danger ml-1", onclick= destination3) Delete
   
    script. 
      function dispatch(path){ 
        window.location.href=path 
      } 